

.valor-despesa label {
    display: grid;  
    margin-bottom: 8px;
    font-size: 18px;
    margin-top: -58px;
    margin-left: 390px;
}

.valor-despesa input {
    background-color:white ;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.6);
    width:40%;
    border: none;
    font-size: 14px;
    padding: 4px;
    box-sizing: border-box;
    margin-top: -58px;
    margin-left: 390px;
 
}