.listaDespesas {
    text-align:center;
    padding: 32px;
    background-color: #09F7E9;

}

.listaDespesas h3{
    font-size: 32px;
    border-bottom:  4px solid ;
    display: inline-block;
    padding-bottom: 8px;
}

.ListaDespesas .colaboradores {
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    flex-wrap: wrap;
}